/********** Custom CSS ***********/

* {
	box-sizing: border-box;
}
h1 {
	text-align: center;
	font-family: "Poppins", Helvatica, serif;
}
h2 {
	background: #fff;
	padding: 5px;
	text-align: center;
	border: 2px solid #000;
	float: right;
	clear: both;
	width: 150px;
	margin-top: 0;
	font-family: "Poppins", Helvatica, serif;
}
p {
	padding: 10px;
	float: left;
	clear: right;	
	margin-top: 0;
	font-family: "Poppins", Helvatica, serif;
}
.col-lg-4, .col-md-6, .col-xs-12 {
	background: #a4a4a4;
	border: 2px solid #000;	
}

@media (min-width: 992px) {
	.col-lg-4 {
		width: 30%;
		float: left;
		margin: 0 1.65%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {
		width: 47%;
		margin: 0 1.5% 3%;
		float: left;
	}
	.col-md-6:last-child {
		width: 97%;
	}	
} 

@media (max-width: 767px) {
	.col-xs-12 {
		width: 97%;
		float: left;
		margin: 0 1.5% 3%;
	}
}